body 
{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    overflow: hidden;
    margin-left: 18px;
    background-image: url("img/tile.png");
    background-repeat: repeat;
}

h1, a
{
	color: #FF8C00;
	font-weight: bold;
}

img 
{
    max-width: 600px;
    width: 100%;
}

.column
{
	width: 47%;
	float: left;
}

#right
{
	margin-left: 18px;
}

#intro
{

}

#synop
{

}