body 
{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    overflow: hidden;
}

h1, .umaru, a
{
	color: #FF8C00;
	font-weight: bold;
}

img 
{
    max-width: 600px;
    width: 100%;
}

.column
{
	width: 47%;
	float: left;
	margin-left: 10px;
}

#right
{
	margin-left: 18px;
}

#intro
{

}

#synop
{

}